<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Posts</title>
</head>
<body>
    <h2>Create a new post</h2>
    <form action="/post/create" method="post">
        <lable for="post_title">Title:</lable>
        <input type="text" name="title" id="post_title">
        <br><br>
        <label for="post_body">Blog:</label><br>
        <textarea name="body" id="post_body" cols="60" rows="10"></textarea><br>
        <input type="submit" name="submit">
    </form>
</body>
</html>