<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<h2>Post Form</h2>
<form th:action="@{/post/posts/{id}/edit (id=${post.id})}" method="post" th:object="${post}">
    <label for="title">Title</label>
    <input th:placeholder="${post.title}" type="text" th:field="*{title}" name="title" id="title">
    <label for="body">Body</label>
    <input th:placeholder="${post.body}" type="text" th:field="*{body}" name="body" id="body">
    <input type="submit" value="Post">
</form>
</body>
</html>